@font-face {
  font-family: Josefin-sans-thin;
  src: url(../fonts/JosefinSans-Thin.ttf); }
@font-face {
  font-family: Jura-Regular;
  src: url(../fonts/Jura-Regular.ttf); }
  @font-face {
  font-family: Jura-Medium;
  src: url(../fonts/Jura-Medium.ttf); }
  @font-face {
  font-family: Jura-Bold;
  src: url(../fonts/Jura-Bold.ttf); }
  @font-face {
  font-family: Jura-light;
  src: url(../fonts/Jura-light.ttf); }
  @font-face {
  font-family: Jura-semiBold;
  src: url(../fonts/Jura-semiBold.ttf); }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 1700px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 1400px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 1130px) and (max-height: 650px) {
    html {
      font-size: 35%; } }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #6D5D4B;
  background-color: #f9f7f6;
  font-weight: 300;
  line-height: 1.6; }

.scale {
  transform: scale(0.8); }

.container {
  display: grid;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: [sidebar-start] 0rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
   }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }


.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #26466D;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background: linear-gradient(to right, #007FFF, #26466D);
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: inital;
  justify-content: center; }
  @media only screen and (min-width: 50em) {
    .sidebar {
      background: linear-gradient(to bottom, white, #4E78A0, #26466D); } }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
    background: white;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center; } }

.sidebar-item {
  display: inline; }

.sidebar-logo {
  width: 8rem;
  padding-top: 1rem;
  padding-left: 1rem; }

.nav-btn {
  border: none;
  border-radius: 0;
  grid-column: sidebar-start/sidebar-end;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #6D5D4B;
  border: none;
  grid-column-grid-column-start: 2;
  grid-column-grid-column-end: 6;
  float: right;
  margin-top: 3rem;
  font-size: 1.6rem;
  height: 34px;
  width: 9rem; }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-top: 0;
      margin-right: 3rem; }
      .nav-btn::before {
        transform: translateY(-1.2rem); }
      .nav-btn::after {
        outline: 2px solid #6D5D4B;
        transform: translateY(1rem); } }
  .nav-btn:hover {
    text-shadow: 2px 2px 10px inherit;
    /*display: inline-block;*/
    border-radius: 10rem;
    -webkit-transition: all .2s;
    transform: scale(0.9);

    color: #755419;
    transition: all .2s;
    /*font-size: 1.4rem;*/
    text-decoration: underline;
    border: none;
    cursor: pointer; }
   .nav-btn:active {
    outline: 2px solid #6D5D4B !important;
    transform: scale(0.8);
   }
   .nav-btn:visited {
    outline: 2px solid #6D5D4B !important;
    transform: scale(0.8);
   }
   .link:visited {
    outline: 2px solid #6D5D4B !important; 
   }.link:active {
    outline: 2px solid #6D5D4B !important; 
   }

@font-face {
  .header {
    font-family: Josefin-sans-thin;
    src: url(../css/fonts/JosefinSans-thin.ttf); } }
@font-face {
   }
  .header__company-name {
    text-align: center;
    font-size: 10rem;
    font-family: "Josefin-sans-thin"; }
  .header__logo {
    height: 7rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
    color: #aaa; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header__seenon-logos h4 {
        font-size: 1.2rem; } }
    .header__seenon-logos img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%); }

.features {
  grid-column: center-start / center-end;
  margin-bottom: 7.5rem;
  margin-top: 10rem;

}
  @supports (display: grid) {
    .features {

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));    
      grid-gap: 0.5rem;
      align-items: start; } }

.feature-row-1 {
  
  grid-template-columns: minmax(29rem, 1fr) minmax(65.5rem, 1fr);
  margin-bottom: 0.5rem;
}

.heading {
  width: 100%; }

.feature {
    height: 40rem;
  display: initial !important;
  background-color: rgba(255,255,255,1);
  float: left;
  margin-bottom: 6rem;
  display: grid;
  padding: 4rem;
}


@media only screen and (max-width: 500px) {

  .feature-row-1 {
    
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  }
  .feature {
    height: auto;
  }
}
  @supports (display: grid) {
    .feature {
      width: auto;
      margin-bottom: 0; } }
  .feature__icon {
    fill: #26466D;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {

    margin-top: 2rem;
    font-size: 1.7rem; }

.section-book {
  padding: 15rem 0;
  padding-top: 5rem;
  background-image: url(../img/finance.jpg);
}
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/house-5.jpg);
  background-size: 100%;
  border-radius: 3px;
  height: 100%;
}
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); } }
  .bookcard__details li {
    color: color-primary-light; }
  .book__form {
    width: 50%;
    padding: 2rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #03396c; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #03396c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #03396c;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story__pictures {
  background-color: #26466D;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(38, 70, 109, 0.5), rgba(38, 70, 109, 0.5)), url(../img/emporia.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.story__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 50em) {
    .story__img--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1; } }

.story__img--2 {
  width: 115%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .story__img--2 {
      grid-row: 1 / -1;
      width: 100%; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 770px) {
  	.story__content {

    	padding-top: 1rem;
  	}
  }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.employees {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.employee {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .employee__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    height: 19rem; }
  .employee__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #26466D;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }

  #logo {
    cursor: pointer;
  }
  .employee__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #111b26;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%); }
  .employee__location {
    padding: 1rem;
    height: 21rem;
    grid-column: 1 / -1; }
    .employee__location p {
      font-size: 1.6rem; }
  .employee__rooms, .employee__area, .employee__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .employee__rooms svg, .employee__area svg, .employee__price svg {
      fill: #26466D;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .employee__btn {
    border-radius: 0 !important;
    grid-column: 1 / -1;
    background: #525C65;
    pointer-events: none; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3;
    text-align: center; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1; }
  .gallery__caption {
    z-index: 200;
    background-color: white; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }



/* Start page */

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #03396c;
  color: #fff; }

@font-face {
  font-family: Josefin-sans;
  src: url(../fonts/JosefinSans-Regular.ttf); }

@font-face {
  font-family: Josefin-sans-thin;
  src: url(../fonts/JosefinSans-Thin.ttf); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-weight: normal;
  margin-bottom: 4.7rem; }
  @media only screen and (max-width: 600px) {
    .heading-primary {
      margin-bottom: 1rem;
    }
  }

  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 3.5rem;
    font-family: "Josefin Sans", sans-serif;
    animation-name: moveInLeft;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--main {
      letter-spacing: 1rem;
      font-family: 5rem; } }
      @media only screen and (max-width: 500px) {
    .heading-primary--main {
      font-size: 6rem;
      letter-spacing: 1rem;
      font-weight: regular;
      font-family: 5rem; }
      .heading-primary--sub {
        font-family: Josefin-sans-thin;
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        animation: moveInRight 0.4s ease-out;
      }
  }
  .heading-primary--sub {
    font-family: "Josefin Sans", sans-serif;
    display: block;
    font-size: 3rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 0.4s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 1.45rem;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  transition: all .2s;
  font-family: "Josefin Sans", sans-serif; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 1.3rem; } }
      color: white;
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1.3rem; } }
      color: white;

  @media only screen and (max-width: 500px) {
    .heading-primary--main {
      font-size: 6rem;
      letter-spacing: 1rem;
      font-family: 5rem; }
    .heading-primary--sub {
      font-size: 2rem;
    }
  }
.heading-tertiary {
  font-size: Josefin-sans-thin;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }


.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  font-family: "Jura-regular";
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #03396c;
  color: #fff; }
  .btn--green::after {
    background-color: #03396c; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.3rem;
  color: #03396c;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #03396c;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #03396c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }





.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #03396c; }

.header {
  height: 85vh;
  margin-bottom: 15vh;
  background-image: linear-gradient(to right bottom, rgba(0, 91, 150, 0.2), rgba(1, 31, 75, 0.2)), url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(0, 91, 150, 0.2), rgba(1, 31, 75, 0.2)), url(../img/background.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }

  .header__logo {
    height: 6.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

  .left {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media only screen and (max-width: 400px) {

    .left {

     top: 93%;
    left: 50%;
    transform: translate(-50%, -93%);
    }
  }
  .header__nav-bar {
    position: absolute;
    width: 30vw;
    height: 11rem;
    background: #fff; }
  .header__nav-bar-gradient {
    padding-right: 20rem;
    text-align: right;
    position: absolute;
    width: 71vw;
    height: 11rem;
    left: 29vw;
    background: linear-gradient(to right, white, #011f4b); }


    .header__nav-bar-gradient a {

      font-family: "Jura-regular";
    }

.navigation__checkbox {
  display: none;
  animation: 0s; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: -3px 2px 12px #383845;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  background-image: radial-gradient(#005b96, #011f4b);
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  opacity: 0;
  width: 0;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
	font-family: "Jura-regular";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  text-decoration: underline;
  color: #fff;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  display: inline-block;
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

@font-face {
  font-family: Josefin-sans;
  src: url(../css/fonts/JosefinSans-Regular.ttf); }

@font-face {
  font-family: Josefin-sans-thin;
  src: url(../css/fonts/JosefinSans-thin.ttf); }

/*    Footer     */
#map {
  height: 37rem;
  width: 47rem;
}

#footer-navigation-left {
  width: 47rem;
}

  @media only screen and (max-width: 770px) {

    #footer-navigation-left {
      width: inherit;
    }
    #map {
      width: inherit; } }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
.footer__logo-box {
      text-align: center;
      margin-bottom: 8rem;
      text-align: center;
      margin-bottom: 8rem;
     
}
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }

  @media only screen and (min-width: 770px) {
    .footer__logo-box {
      position: absolute;
      text-align: center;
      margin-bottom: 8rem;
      text-align: center;
      margin-bottom: 8rem;
      left: 50%;
      transform: translateX(-50%);
     
    }
  }

    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }

  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
   @media only screen and (max-width: : 600px) {
      #logo-2 {
        width: 22rem;
        position: relative !important;
        /*left: 49%;*/
        /*transform: translateX(-52%);*/
         }
    }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:hover {
    text-decoration: underline !important;
  }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 770px) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 770px) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 770px) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 770px) {
      .row [class^="col-"] {
        width: 100% !important; } }

  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  }
  
   @media only screen and (max-width: 500px) {
    #map {
      margin: 0 auto;
    }
  }